{% extends 'base.html.twig' %}

{% block title %}Comment ça fonctionne-EEED
{% endblock %}

{% block body %}
	<section>
		<div class="block no-padding  gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner2">
							<div class="inner-title2">
								<h3>Comment ça fonctionne</h3>
								<span>Obtenez une visite numérique de la façon dont EEED fonctionne pour vous.</span>
							</div>
							<div class="page-breacrumbs">
								<ul class="breadcrumbs">
									<li>
										<a href="/" title="">Acceuil</a>
									</li>
									{# <li><a href="#" title="">Pages</a></li> #}
									<li>
										<a href="/liens-utiles/comment-ça-fonctionne" title="">Comment ça fonctionne</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block ">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div
							class="how-works">
							{# <div class="how-workimg"><img src="images/resource/hw1.jpg" alt="" /></div> #}
							<div class="">
								<div class="how-work-box">
									<span>1</span>
									{# <i class="la la-user"></i> #}
									<h3>Créer un compte</h3>
									<p>EEED est le site de recrutement en ligne leader en Tunisie. Nous comprenons que les demandeurs d'emploi viennent chez nous non seulement pour trouver un emploi, mais également pour saisir une opportunité de concrétiser leur projet professionnel.</p>
									{# <p>EEED est le site de recrutement en ligne leader en Tunisie. Nous comprenons que les demandeurs d'emploi viennent chez nous non seulement pour un emploi, mais aussi pour une opportunité de réaliser leur projet professionnel.</p> #}
								</div>
							</div>
						</div>

						<div
							class="how-works flip">
							{# <div class="how-workimg"><img src="images/resource/hw2.jpg" alt="" /></div> #}
							<div class="">
								<div class="how-work-box">
									<span>2</span>
									{# <i class="la la-file-text"></i> #}
									<h3>spécifiez votre emploi de rêve et évaluez votre niveau</h3>
									<p>EEED vous offre une opportunité d'accueillir votre travail et de tester votre niveau pour atteindre votre objectif.</p>
									{# <p>You’ll receive applications via email. You can also manage jobs and candidates from your Indeed dashboard. Review applications, Schedule interviews and view recommended candidates all from one place.</p> #}
								</div>
							</div>
						</div>

						<div
							class="how-works">
							{# <div class="how-workimg"><img src="images/resource/hw1.jpg" alt="" /></div> #}
							<div class="">
								<div class="how-work-box">
									<span>3</span>
									{# <i class="la la-user"></i> #}
									<h3>Formez-vous aux compétences nécessaires pour l’emploi de vos rêves</h3>
									<p>EEED vous propose des formations spécifiques aux compétences nécessaires pour le métier de vos rêves, encadrées par des spécialistes du domaine.</p>
								</div>
							</div>
						</div>

						<div
							class="how-works flip">
							{# <div class="how-workimg"><img src="images/resource/hw2.jpg" alt="" /></div> #}
							<div class="">
								<div class="how-work-box">
									<span>4</span>
									{# <i class="la la-file-text"></i> #}
									<h3>Recherchez votre emploi de rêve</h3>
									{# <p>EEED vous offre une opportunité de accueillir votre travail et teestes votre niveaux pour atteint votre objectif.</p> #}
									<p>Vous recevrez les candidatures par e-mail. Vous pouvez également gérer les offres d'emploi et les candidats depuis votre tableau de bord . Examinez les candidatures, planifiez des entretiens et consultez les candidats recommandés à partir d'un seul endroit.</p>
									{# <p>You’ll receive applications via email. You can also manage jobs and candidates from your Indeed dashboard. Review applications, Schedule interviews and view recommended candidates all from one place.</p> #}
								</div>
							</div>
						</div>

						<div
							class="how-works">
							{# <div class="how-workimg"><img src="images/resource/hw1.jpg" alt="" /></div> #}
							<div class="">
								<div class="how-work-box">
									<span>5</span>
									{# <i class="la la-user"></i> #}
									<h3>Recherchez votre emploi de rêve</h3>
									<p>Vous recevrez les candidatures par e-mail. Vous pouvez également gérer les offres d'emploi et les candidats depuis votre tableau de bord . Examinez les candidatures, planifiez des entretiens et consultez les candidats recommandés à partir d'un seul endroit.</p>

								</div>
							</div>
						</div>

                        <div
							class="how-works flip">
							{# <div class="how-workimg"><img src="images/resource/hw1.jpg" alt="" /></div> #}
							<div class="">
								<div class="how-work-box">
									<span>6</span>
									{# <i class="la la-user"></i> #}
									<h3> Réseautage Professionnel 

                                    </h3>
                                    <p>Organiser des événements où les participants peuvent rencontrer des professionnels de leur domaine. Ainsi créer une communauté en ligne pour faciliter les connexions et le partage d'expériences.</p>
									
								</div>
							</div>
						</div>

                        <div
							class="how-works">
							{# <div class="how-workimg"><img src="images/resource/hw1.jpg" alt="" /></div> #}
							<div class="">
								<div class="how-work-box">
									<span>7</span>
									{# <i class="la la-user"></i> #}
									<h3>Soutien Entrepreneurial </h3>
									<p>Sessions sur la création d'entreprise, la planification financière et la gestion des start-ups.Ainsi accès à des mentors ayant une expérience dans le domaine entrepreneurial.</p>
								</div>
							</div>
						</div>
					
                        <div
							class="how-works flip">
							{# <div class="how-workimg"><img src="images/resource/hw1.jpg" alt="" /></div> #}
							<div class="">
								<div class="how-work-box">
									<span>8</span>
									{# <i class="la la-user"></i> #}
									<h3> Suivi Post-placement 

                                    </h3>
                                    <p>Recueillir des retours d'expérience et évaluer la satisfaction des participants après leur placement professionnel. Ainsi soutien continu pour le développement de carrière à long terme.</p>
									
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>
</section>{% endblock %}
