{% extends 'base.html.twig' %}

{% block title %}FAQ's-EEED
{% endblock %}

{% block body %}
	<section>
		<div class="block no-padding  gray">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner2">
							<div class="inner-title2">
								<h3>FAQ</h3>
								<span>Tenez-vous au courant des dernières nouvelles	</span>
							</div>
							<div class="page-breacrumbs">
								<ul class="breadcrumbs">
									<li>
										<a href="/" title="">Acceuil</a>
									</li>
									{# <li>
										<a href="#" title="">Pages</a>
									</li> #}
									<li>
										<a href="/liens-utiles/faq" title="">FAQ</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block ">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="faqs">
							<div class="faq-box">
								<h2> Qu'est-ce que EEED ?
									<i class="la la-minus"></i>
								</h2>
								<div class="contentbox">
                                <p>EEED est une initiative fondée en 2024 par Chaouch Ali. Notre objectif principal est d'accompagner les nouveaux diplômés tout au long de leur transition vers le marché du travail en leur fournissant des ressources, des formations et un réseau professionnel.</p>
								</div>
							</div>
                            <div class="faq-box">
								<h2>  Qui est le fondateur de EEED ?
									<i class="la la-minus"></i>
								</h2>
								<div class="contentbox">
                                    <p>Chaouch Ali est le fondateur de EEED. Il a créé cette initiative avec la vision d'aider les nouveaux diplômés à atteindre leurs objectifs professionnels.</p>
                                </div>
							</div>
                            <div class="faq-box">
								<h2>  Comment puis-je bénéficier de EEED ?
									<i class="la la-minus"></i>
								</h2>
								<div class="contentbox">
                                    <p>Pour bénéficier de EEED, il vous suffit de créer un compte sur notre plateforme. Une fois inscrit, vous aurez accès à nos ressources, formations, et opportunités professionnelles.</p>
                                </div>
							</div>
                            <div class="faq-box">
								<h2> Comment créer un compte sur EEED?
									<i class="la la-minus"></i>
								</h2>
								<div class="contentbox">
                                <p>La création d'un compte est simple ! Cliquez sur le bouton "S'inscrire" sur la page d'accueil, puis suivez les instructions pour remplir vos informations.</p>
								</div>
							</div>
                            <div class="faq-box">
								<h2>  Est-ce que l'inscription à EEED est payante ?
									<i class="la la-minus"></i>
								</h2>
								<div class="contentbox">
                                    <p>Oui, l'inscription à EEED est payante. Vous pouvez consulter nos Tarifs :  <a href="/liens-utiles/tarifs">cliquer ici</a> .</p>
                                </div>
							</div>
                            <div class="faq-box">
								<h2>   Quels types de formations proposez-vous ?
									<i class="la la-minus"></i>
								</h2>
								<div class="contentbox">
                                    <p>Nous offrons une variété de formations couvrant des sujets tels que la rédaction de CV, les compétences en entretien, le développement professionnel, et bien plus encore.</p>
                                </div>
							</div>
                            <div class="faq-box">
								<h2>  Les formations sont-elles certifiées ?
									<i class="la la-minus"></i>
								</h2>
								<div class="contentbox">
                                <p>Oui, certaines de nos formations sont certifiées. Vous trouverez des détails spécifiques sur la certification dans la description de chaque cours.</p>
								</div>
							</div>
                            <div class="faq-box">
								<h2>  Comment puis-je trouver des opportunités d'emploi sur votre plateforme ?
									<i class="la la-minus"></i>
								</h2>
								<div class="contentbox">
                                    <p>Connectez-vous à votre compte, accédez à la section "Offre d'emploi" et utilisez notre moteur de recherche pour trouver des emplois et des stages adaptés à votre profil.</p>
                                </div>
							</div>
                            <div class="faq-box">
								<h2>  Proposez-vous des opportunités à l'international ?
									<i class="la la-minus"></i>
								</h2>
								<div class="contentbox">
                                    <p>Oui, nous proposons des opportunités à l'international. Utilisez les filtres de recherche pour spécifier vos préférences géographiques.</p>
                                </div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}
