{% extends 'base.html.twig' %}

{% block title %}Tarifs-EEED
{% endblock %}

{% block body %}
<section>
    <div class="block no-padding  gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner2">
                        <div class="inner-title2">
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tarifs</font></font></h3>
                            <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tenez-vous au courant des dernières nouvelles</font></font></span>
                        </div>
                        <div class="page-breacrumbs">
                            <ul class="breadcrumbs">
                                <li><a href="/" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Acceuil</font></font></a></li>
                                {# <li><a href="#" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pages</font></font></a></li> #}
                                <li><a href="/liens-utiles/tarifs" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tarifs</font></font></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading">
                        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Achetez nos forfaits</font></font></h2>
                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">L'un de nos emplois offre une sorte d'option de flexibilité, comme le télétravail, un horaire à temps partiel ou un horaire flexible .</font></font></span>
                    </div><!-- Heading -->
                    <div class="plans-sec">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="pricetable">
                                    <div class="pricetable-head">
                                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Offre de base</font></font></h3>
                                        <h2><i><font style="vertical-align: inherit;"></font></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">100</font><i><font style="vertical-align: inherit;">&nbsp;TND</font></i></font></h2>
                                        {# <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">15 jours</font></font></span> #}
                                    </div><!-- Price Table -->
                                    <ul>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Consulter les offres d'emploi ainsi les offres de stages</font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Test de niveau</font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Creation de portfolio</font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Badge utilisateur</font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Assistance Premium 24h/24 et 7j/7</font></font></li>
                                    </ul>
                                    {# <a href="#" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ACHETER MAINTENANT</font></font></a> #}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="pricetable active">
                                    <div class="pricetable-head">
                                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Offre standards</font></font></h3>
                                        <h2><i><font style="vertical-align: inherit;"></font></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">250 </font><i><font style="vertical-align: inherit;">TND</font></i></font></h2>
                                        {# <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">20 jours</font></font></span> #}
                                    </div><!-- Price Table -->
                                    <ul>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Consulter les offres d'emploi ainsi les offres de stages</font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Test de niveau</font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Creation de portfolio</font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Des formations SoftSkils</font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Invitations dans nos evenements</font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Badge Premium Silver</font></font></li>
                                        <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Assistance Premium 24h/24 et 7j/7</font></font></li>

                                    </ul>
                                    {# <a href="#" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ACHETER MAINTENANT</font></font></a> #}
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="pricetable">
                                    <div class="pricetable-head">
                                        <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Offre d'or</font></font></h3>
                                        <h2><i><font style="vertical-align: inherit;"></font></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">500</font><i><font style="vertical-align: inherit;">&nbsp;TND</font></i></font></h2>
                                        {# <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2 mois</font></font></span> #}
                                    </div><!-- Price Table -->
                                    <ul>
                                    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Consulter les offres d'emploi ainsi les offres de stages</font></font></li>
                                    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Test de niveau</font></font></li>
                                    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Creation de portfolio</font></font></li>
                                    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Des formations SoftSkils</font></font></li>
                                    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Des formations Specifique</font></font></li>
                                    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Invitations dans nos evenements</font></font></li>
                                    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Badge Premium D'OR</font></font></li>
                                    <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Assistance Premium 24h/24 et 7j/7</font></font></li>
                                    </ul>
                                    {# <a href="#" title=""><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ACHETER MAINTENANT</font></font></a> #}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
